/* CORPO DA TELA INICIAL */
#start {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;    
    height: 100%;
    width: 100%;
}

/* SLIDE */
#slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
#slide img{
    position:  absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 1s;
}
#slide img.selected {
    opacity: 1;
}
/* CORPO DO CONTEUDO */
#start2 {
    display: grid;
    height: max-content;
    width: 370px;
    border-radius: 10px;
    background-color: rgba(107, 107, 107, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), inset 0 0 10px black;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    backdrop-filter: blur(13.5px);
    opacity: 0;
    transition-duration: 0.5s;
}

/* CORPO DO CONTEUDO */
 #top-inicial {         /* <-- PARTE DE CIMA */
    width: 350px;
    padding: 10px;
    color: white;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: rgba(107, 107, 107, 0.1);
    backdrop-filter: blur(13.5px);
    text-shadow: 0 2px 8px #1d1d1d;  
    transition-duration: 0.5s;
}
#info-start {           /* <-- PARTE DO MEIO */
    display: grid;
    justify-items: center;
    height: 0px;
    width: 365px;
    padding: 0px;
    border-radius: 10px;  
    transition-duration: 0.5s;
}
#info {       /* <-- PARTE DO TEXTO */
    margin-left: 25px;
    font-size: 14px;
    opacity: 0;
    transition-duration: 0.5s;
}
#bottom-inicial {       /* <-- PARTE DE BAIXO */
    display: none;
    justify-content: flex-end;
    width: 350px;
    padding: 10px;
    color: white;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: rgba(107, 107, 107, 0.1);
    backdrop-filter: blur(13.5px);
    text-shadow: 0 2px 8px #1d1d1d; 
    transition-duration: 0.5s;
}
#button-start {         /* <-- BUTTON */
    height: max-content;
    width: max-content;
    padding: 0 5px 2px;
    font-size: 8px;
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: rgba(148, 148, 148, 0.4);
    backdrop-filter: blur(13.5px);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    animation: shadowAlert 2s infinite;
}
@keyframes shadowAlert {
    0% {
        box-shadow: 0 0px 7px rgba(255, 255, 255, 0.3);
    }
    50% {
        box-shadow: 0 0px 7px rgba(255, 255, 255, 0.7);
    }
    100% {
        box-shadow: 0 0px 7px rgba(255, 255, 255, 0.3);
    }
}

